<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <h2>Available Service Categories</h2>
        <ol>
            <% categories.forEach(category => { %>
                <li><strong><%= category.name %></strong></li>
            <% }); %>
        </ol>
    </main>
<%- include('partials/footer') %>