<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <h2>Available Service Categories</h2>
        <ul>
            <li><a>Environmental</a></li>
            <li><a>Educational</a></li>
            <li><a>Community Service</a></li>
            <li><a>Health and Wellness</a></li>
        </ul>
    </main>
<%- include('partials/footer') %>